<ul>
    <li class="{% if active_page == 'enfants-carnet' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_children_game_pad") }}">Carnets de jeux</a></li>
    <li class="{% if active_page == 'enfants-soigneurs' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_children_junior_keeper") }}">Soigneurs juniors</a></li>
    <li class="{% if active_page == 'enfants-parcours' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_children_child_journey") }}">Parcours enfants</a></li>

</ul>
