<ul>
    <li class="{% if active_page == 'pad' %}active{% endif %}"><a href="">Carnets de jeux</a></li>
    <li class="{% if active_page == 'keeper' %}active{% endif %}"><a href="">Soigneurs juniors</a></li>
    <li class="{% if active_page == 'ways' %}active{% endif %}"><a href="">Parcours enfants</a></li>

</ul>
