<ul>
    <li class="{% if active_page == 'enfants-carnet' %}active{% endif %}"><a href="">Carnets de jeux</a></li>
    <li class="{% if active_page == 'enfants-soigneurs' %}active{% endif %}"><a href="">Soigneurs juniors</a></li>
    <li class="{% if active_page == 'enfants-parcours' %}active{% endif %}"><a href="">Parcours enfants</a></li>

</ul>
