<ul>
    <li class="{% if active_page == 'newthings' %}active{% endif %}"><a href="">Nouveautés</a></li>
    <li class="{% if active_page == 'posts' %}active{% endif %}"><a href="">News</a></li>
</ul>
