<ul>
    <li class="{% if active_page == 'actualite-nouveautes' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_news_nouveautes") }}">Nouveautés</a></li>
    <li class="{% if active_page == 'actualite-actualite' %}active{% endif %}"><a href="{{ path("zpb_sites_zoo_news_news") }}">News</a></li>
</ul>
