<ul>
    <li class="{% if active_page == 'animals' %}active{% endif %}"><a href="">Animaux</a></li>
    <li class="{% if active_page == 'history' %}active{% endif %}"><a href="">Histoire</a></li>
    <li class="{% if active_page == 'missions' %}active{% endif %}"><a href="">Missions</a></li>
    <li class="{% if active_page == 'dev' %}active{% endif %}"><a href="">Développement durable</a></li>
    <li class="{% if active_page == 'photos' %}active{% endif %}"><a href="">Galerie photo</a></li>
</ul>
