
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores ea
                eius fugiat inventore iure laborum quaerat quasi sequi veritatis!</p></div>
        <div class="col-md-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore et
                facere inventore minima praesentium, quae sapiente totam voluptatibus voluptatum!</p></div>
        <div class="col-md-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cupiditate
                est libero magnam odit placeat possimus quae quibusdam velit veniam.</p></div>
        <div class="col-md-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolore iusto
                rerum velit veniam. Fugit hic itaque odit sit tempore?</p></div>
    </div>
</div>
