<div id="main-footer" class="has-3">
    <div class="main-footer-btn">
        <a href="#">Billetterie</a>
    </div>
    <div class="main-footer-btn">
        <a href="#">Accès</a>
    </div>
    <div class="main-footer-btn">
        <a href="http://leshotelsdebeauval.com">Hôtels</a>
    </div>
</div>
