// ########################## base ##########################\\

$fontSize: 16 ;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif ;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif ;
$fontColor: $grisFonce ;
$headerFontColor: $ocean ;
$lineHeight: 1.43 ;

$mainContentMinHeight: 800;
$mainFooterMinHeight: 400;
$mainFooterBgColor: #303030;
// ########################## end vars ##########################\\
