// ########################## base ##########################\\

$fontSize: 16 ;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif ;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif ;
$fontColor: $grisFonce ;
$headerFontColor: $ocean ;
$lineHeight: 1.43 ;
$headerSize: 50, 45, 30, 25, 20, 15;

$linkHoverColor: $ocean;

$pageHeaderPadding: 20;

$mainHeaderPadding: 25px 0 0 0;
$mainContentMinHeight: 600;
$mainFooterMinHeight: 400;
$mainFooterBgColor: $grisFonce;
$mainFooterColor: $blanc;

// ########################## end vars ##########################\\

// ########################## grid  ##########################\\
$gutterWidth: toUnit(10);
$numCols: 12;
$containerMaxWidth: toUnit(1200);

// ########################## end grid  ##########################\\

// ########################## buttons  ##########################\\

$btn_defaultBtnColor: $noir;
$btn_defaultBtnFontSize: 16;
$btn_defaultBtnFontFamily: "cooper_hewitt_bold", Arial, Helvetica, sans-serif;
$btn_uppercase: true;
$btn_defaultBtnBgColor: $grisDD;
$btn_grisFonceHover: $ocean;
$btn_grisFonceActive: $ocean;
$btn_grisBBHover: $ocean;
$btn_grisBBActive: $ocean;

$btn_blueColor: $blanc;
$btn_blueBgColor: $ocean;

$btn_vertBgColor: $vert;
$btn_vertColor: $blanc;

$btn_warningColor: $grisFonce;
$btn_warningBgColor: $jaune;

// ########################## end buttons  ##########################\\


// ########################## common top bar ##########################\\
$mainTopBarHeight: 40 ;
$mainTopBarBgColor: $grisFonce;
$mainTopBarColor: $blanc;
$mainTopBarFontSize: 12;

// ########################## end common top bar ##########################\\

// ########################## footer ##########################\\
$footerBgColor: "none" ;
$footerBgImage: "none" ;
$footerBgImageRepeat: null ;
$footerBgImagePosition: null ;
$footerColor: $blanc ;
$footerLinkFontFamily: $fontfamily;
$footerLinkColor: inherit ;
$footerLinkHoverColor: $ocean ;
$footerLegalsBorderColor: #4b4b4f ;

// ########################## end footer ##########################\\
