// ########################## base ##########################\\

$fontSize: 16 !default;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif !default;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif !default;
$fontColor: $grisFonce !default;
$headerFontColor: $ocean !default;
$lineHeight: 1.43 !default;
// ########################## end vars ##########################\\
