{% set active_page = (active_page is defined) ? active_page : null %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if block('title') %}{{ block('title') }} {% else %}Bienvenue {% endif %}| Admin</title>
    {% block headLinks %}
        <link rel="stylesheet" href="/css/admin/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/admin/master.css"/>
    {% endblock %}

    {% block headStyles %}{% endblock %}

    {% block headScripts %}
        <script src="/js/vendor/jquery-2.1.1.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/admin/main.js"></script>
    {% endblock %}
</head>
<body>
{% block topmenu%}
    {{ render(controller('ZPBAdminBundle:Navs:topMenu')) }}
{% endblock %}


<div class="container-fluid">
    <div class="row">
    {% block container %}
        {% block sidebar %}
            {{ render(controller('ZPBAdminBundle:Navs:sidebar')) }}
        {% endblock %}
        {% block dashboard %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}{% endblock %}
            </div>

        {% endblock %}
    {% endblock %}
    </div>
</div>


{% block footScripts %}{% endblock %}

</body>
</html>
