<div id="tickets" class="tickets has-2">
    <div class="ticket ticket-left">
        <a href="#"><div class="ticket-inner green">
                Parrainez<br> un animal
            </div></a>
    </div>
    <div class="ticket ticket-right">
        <a href="#"><div class="ticket-inner yellow">
                Faites<br/>un don
            </div></a>
    </div>
</div>
