{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="quoted-intro">
                    <p class="quoted-intro-text">N° 1 des zoos et aquariums de France</p>
                    <p class="quoted-intro-underline"> Traveler's Choice Attractions Awards</p>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer-20"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="front-box">
                    <div class="image-area">
                        <a href="">
                            <img src="/dev/assets/img/Carnet-Rose.jpg" alt=""/>
                        </a>
                        <div class="overlay"></div>
                        <div class="front-box-text">
                            <a href="">Calendrier des animations et spectacles</a>
                        </div>
                        <div class="front-box-title lilas">
                            <h3><a href="">Au programme</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="front-box">
                    <div class="image-area">
                        <a href="">
                            <img src="/dev/assets/img/Soigneur-d-un-Jour.jpg" alt=""/>
                        </a>
                        <div class="overlay"></div>
                        <div class="front-box-text">
                            <a href="">Vivez en une matinée une expérience de soigneur animalier</a>
                        </div>
                        <div class="front-box-title red">
                            <h3><a href="">Soigneur d'un jour</a></h3>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="front-box">
                    <div class="image-area">
                        <a href="">
                            <img src="/dev/assets/img/Ateliers-pedagogiques.jpg" alt=""/>
                        </a>
                        <div class="overlay"></div>
                        <div class="front-box-text">
                            <a href="">Devenez le Parrain d'un animal de Beauval</a>
                        </div>
                        <div class="front-box-title green">
                            <h3><a href="">Parrainages</a></h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="spacer-40"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4"></div>
            <div class="col-sm-4 col-md-4"></div>
        </div>
    </div>


{% endblock %}
