{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div id="map">
                <img src="/img/sites/zoo/Plan_2014.jpg" />
            </div>

        </div>
    </div>
{% endblock %}
