$fontSize: 16!default;
$blanc: #fff!default;
$jaunePale: #DDAB33!default;
$marron: #a15f4b!default;
$bleuPale: #4f94b3!default;
$bleuFonce: #3a5774 !default;
#alert-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  display: none;
  &.open{
    display: block;
  }
}

.alert-modal{
  width: 500px;
  padding: toUnit($fontSize);
  background-color: $blanc;

  margin: 0 auto;
  @include border-radius(5px);

  &.warning{
    background-color: $jaunePale;
    .alert-modal-actions{
      .alert-modal-btn{
        background-color: inherit;
        border: 1px solid $marron;
        color: $marron;
      }
    }
  }
  &.info{
    background-color: $bleuPale;
    .alert-modal-actions{
      .alert-modal-btn{
        background-color: inherit;
        border: 1px solid $bleuFonce;
        color: $bleuFonce;
      }
    }
  }
  .alert-modal-header{
    font-family: "cooper_hewitt_bold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  .alert-modal-body{

  }

  .alert-modal-actions{
    @include clearfix;
    margin-top: 5px;
    .alert-modal-btn{
      float: right;
      margin-left: 5px;
      background-color: #ddd;
      border: 1px solid #999;
      color: #666;
      padding: 3px 7px;
      outline: none;
    }
  }
}
