@import "compass";

@mixin clearfix(){
  *zoom: 1;

  &:before, &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}
*,*:before,*:after{
  @include box-sizing(border-box);
}

#images{
  @include clearfix;
  width: 100%;
  padding: 10px 10px 0;
  border: 1px solid #ddd;
  background-color: #eeeeee;
  .image, .phantom{
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    height: 75px;
    border: 1px solid #ddd;
    table{
      width: 100%;
      height: 100%;
      table-layout: fixed;
      tr{
        width: 100%;
        height: 55px;
        td{
          vertical-align: middle;
          padding-left: 10px;
          height: 55px;
          &:first-child{
            padding-left: 0;
          }
        }
      }
      td.img-position{
        width: 50px;
      }
      td.img-handle{
        width: 19px;

        background: transparent url("/img/sites/common/handle.png") repeat left top;
        cursor: move;
      }
      td.img-img{
        width: 191px;

        overflow: hidden;
        img{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      td.img-activation{

        width: 100px;

        label{
          cursor: pointer;
        }
      }
      td.img-title{
        input[type=text]{
          width: 100%;
        }
      }
      td.img-delete{
        width: 50px;

        .loader{
          display: none;
        }
      }
    }
  }
}
