{% extends "ZPBSitesCEBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <h4>éditeur</h4>
                <p>Le site web ce.zoobeauval.com est un service de communication au public en ligne édité par le ZooParc de Beauval. Il est hébergé par :</p>
                <address>
                    <span class="name">OVH</span><br/>
                    <span class="street">140 Quai du Sartel</span><br/>
                    <span class="city">59100 Roubaix</span><br/>
                    <span class="country">France</span><br/>
                </address>
                <h4>Raison sociale et siège social</h4>
                <p>Le présent site est la propriété de la SAS ZooParc de Beauval.</p>
                <address>
                    <span class="name">ZooParc de Beauval</span><br/>
                    SAS au capital de 305 000 euros<br/>
                    inscrite au registre du commerce et des sociétés de Blois<br/>
                    sous le numéro RCS 38357843200015<br/>
                    N° intracommunautaire : FR 58 383 578 432<br/>
                </address>
                <h4>Crédits</h4>
                <p>Directeur de la Publication :<br/>
                    Delphine Delord, Directrice de la communication</p>
                <address>
                    Design et Développement :<br/>
                    <span class="name">ZooParc de Beauval</span><br/>
                    <span class="city">41110 Saint Aignan s/ Cher</span><br/>
                    <span class="country">France</span><br/>
                </address>
                <h4>Photos</h4>
                <p>&copy;ZooParc de Beauval</p>
                <h4>Informatiques et Libertés</h4>
                <p>En conformité avec les dispositions de la loi n°78-17 du 6 janvier 1978, ce site a fait l'objet d'une déclaration préalable auprès de la Commission Nationale Informatiques et Libertés (CNIL).</p>
                <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, la personne communiquant des données personnelles dispose d'un droit d'accès, de rectification et de suppression de ces données. Vous pouvez l'exercer en écrivant à :</p>
                <address>
                    <span class="name">ZooParc de Beauval</span><br/>
                    <span class="city">41110 Saint Aignan s/ Cher</span><br/>
                    <span class="country">France</span><br/>
                    <a href="{{ path("zpb_sites_zoo_contact") }}">ou en envoyant un e-mail</a><br/>
                </address>
                <h4>Propriété intellectuelle</h4>
                <p><strong>Le ZooParc de Beauval</strong> se réserve le droit de modifier sans préavis les informations présentées, sans être tenu de mettre à jour ce document. Droit d'auteur :</p>
                <p>Tout le contenu éditorial et les illustrations (photographies, logos, pictogrammes, images, dessins, graphismes etc.) de ce site sont protégés par la législation française et les traités internationaux sur le droit d’auteur et la propriété intellectuelle. La structure générale, ainsi que les textes, illustrations et tout autre élément composant ce site web sont la propriété exclusive du ZooParc de Beauval. Toute représentation totale ou partielle de ce site, par quelques procédés que ce soient, sans autorisation expresse du ZooParc de Beauval, est interdite et constituerait une contrefaçon sanctionnée par les articles L335-2 et suivants du Code de la propriété intellectuelle.</p>
                <p>Les informations sur les services et leurs caractéristiques correspondent à une définition au moment de la mise en ligne ou des mises à jour des différentes pages du site ; elles ne sont données qu'à titre indicatif et ne peuvent être considérées comme contractuelles.</p>
                <p>En accédant au site <a href="{{ path("zpb_sites_zoo_homepage") }}">zoobeauval.com</a>, vous acceptez de vous conformer au Code français de la Propriété Intellectuelle et plus généralement aux traités et accords internationaux comportant des dispositions relatives à la protection des droits d'auteur. C'est ainsi que vous vous interdisez de : télécharger, reproduire intégralement ou partiellement, vendre, distribuer, émettre, publier et communiquer sous quelque forme que ce soit les données ou les œuvres protégées par le droit d'auteur qui figurent sur le site zoobeauval.com sans autorisation écrite particulière et préalable du détenteur des droits d'auteur attachés à l’œuvre ou à la donnée reproduite.</p>


            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
    <div class="spacer-50"></div>
{% endblock %}
