zpb_sites_zoo_homepage:
    path:     /
    defaults: { _controller: ZPBSitesZooBundle:Index:index }
    methods: ["GET"]

zpb_sites_zoo_utils:
    prefix:     /pratique
    resource: "@ZPBSitesZooBundle/Resources/config/routing/utils.yml"

zpb_sites_zoo_zooparc:
    prefix:     /zooparc
    resource: "@ZPBSitesZooBundle/Resources/config/routing/zooparc.yml"

zpb_sites_zoo_children:
    prefix:     /enfants
    resource: "@ZPBSitesZooBundle/Resources/config/routing/children.yml"

zpb_sites_zoo_news:
    prefix:     /actualite
    resource: "@ZPBSitesZooBundle/Resources/config/routing/news.yml"

zpb_sites_zoo_social:
    path: /reseaux-sociaux
    defaults: { _controller: ZPBSitesZooBundle:Social:social }
    methods: ["GET"]

zpb_sites_zoo_shop:
    path: /boutique
    defaults: { _controller: ZPBSitesZooBundle:Shop:shop }
    methods: ["GET"]

zpb_sites_zoo_contact:
    path: /contact
    defaults: { _controller: ZPBSitesZooBundle:Contact:index }
    methods: ["GET"]

zpb_sites_zoo_faq:
    path: /questions-frequentes
    defaults: { _controller: ZPBSitesZooBundle:FAQ:index }
    methods: ["GET"]
