{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Communiqués de presse {% endblock %}

{% block content %}
    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>

{% endblock %}
