{% extends "ZPBSitesJDBBundle:Layouts:master.html.twig" %}

{% block content %}
    <div class="spacer-20"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <img src="/dev/assets/img/jdb/youtube_false.jpg" alt="" style="display: block; width: 100%;"/>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="spacer-40"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus error, ex hic in magni minus nobis quis recusandae totam.</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus error, ex hic in magni minus nobis quis recusandae totam.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="spacer-40"></div>
{% endblock %}
