<div id="main-footer" class="has-2">
    <div class="main-footer-btn">
        <a href="#">Pince Me</a>
    </div>
    <div class="main-footer-btn">
        <a href="#">Pince Moi</a>
    </div>
</div>
