{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Vous trouverez ici les réponses aux questions <br/> le plus fréquemment posées aux équipes de Beauval.</p>
                    <p>Pour tout renseignement complémentaire, rendez-vous sur la page <a href="{{ path("zpb_sites_zoo_contact") }}">Contact</a>.</p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                {% for faq in faqs %}
                    <div class="faq">
                        <div class="faq-question">
                            {{ faq.question }}
                        </div>
                        <div class="faq-response is-hide">
                            {{ faq.response|raw }}
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
    <div class="spacer-40"></div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".faq-question").on("click", function(e){
                e.preventDefault();
                var response = $(this).next(".faq-response");

                if(response.hasClass("is-hide")){
                    $(this).addClass("is-active");
                    response.slideDown(200, function(){
                        response.removeClass("is-hide").addClass("is-shown");
                    });
                } else {
                    $(this).removeClass("is-active");
                    response.slideUp(200, function(){
                        response.removeClass("is-shown").addClass("is-hide");
                    });
                }
            })
        });
    </script>
{% endblock %}
