{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Vous trouverez ici les réponses aux questions <br/> le plus fréquemment posées aux équipes de Beauval.</p>
                    <p>Pour tout renseignement complémentaire, rendez-vous sur la page <a href="{{ path("zpb_sites_zoo_contact") }}">Contact</a>.</p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
