{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Sites{% endblock %}

{% block content %}
    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>

    <div class="row placeholders">

    </div>

    <h2 class="sub-header">Section title</h2>


{% endblock %}
