{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            <div class="row">
                <div class="page-intro">
                    <p>Spécialement conçues pour les enfants, des pancartes fixées à hauteur des plus jeunes et illustrées de dessins colorés agrémentent la découverte des visiteurs en herbe !</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
{% endblock %}
