{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Trois carnets composés de jeux et énigmes sont proposés aux jeunes aventuriers :
                        <br/> Zoologiste Junior, Panda Junior et un Jeu de Piste palpitant...
                        <br/> Pour parcourir Beauval en s'amusant !</p>
                </div>
                </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
