{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <h3>Vous êtes bien abonnés à notre Newsletter.</h3>
                <p>Nous vous remercions de l'intérêt que vous portez au ZooParc de Beauval !</p>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
