{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Carousel | ZooParc{% endblock %}

{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/vendor/ui/jquery-ui.min.js"/>
{% endblock %}

{% block content %}

    <h1 class="page-header">Dashboard | {{ block('title') }}</h1>

    <div class="row placeholders">
        <div class="col-sm-3 col-md-3">
            {#<a class="btn btn-success" href=""></a>#}
        </div>
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-3 col-md-3"></div>
    </div>

{% endblock %}


{% block footScripts %}
    {{ parent() }}

    <script src="/js/vendor/ui/jquery-ui.min.js"></script>
{% endblock %}
