// ########################## base ##########################\\

$fontSize: 14 ;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif ;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif ;
$fontColor: $grisFonce ;
$headerFontColor: $sable ;
$lineHeight: 1.43 ;

$mainContentMinHeight: 300;
$mainFooterMinHeight: 200;
$mainFooterBgColor: $grisFonce;
$mainFooterColor: $blanc;

// ########################## end vars ##########################\\

$mainMenuWidth: 270;


// ########################## common top bar ##########################\\
$mainTopBarHeight: 40 ;
$mainTopBarBgColor: $grisFonce;
$mainTopBarColor: $blanc;
$mainTopBarFontSize: 14;

// ########################## end common top bar ##########################\\
