{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-intro">
                <p>De Facebook à TripAdvisor, en passant par YouTube, Beauval se lit, s’aime, se partage !
                    <br/>Retrouvez les post, photos, avis et commentaires de nos cercles de Fans !</p>
            </div>
        </div>
    </div>
{% endblock %}
