{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Des naissances aux arrivées d’animaux, en passant par les nouveautés de l’année, Beauval dévoile les évènements qui rythment son activité.
                        <br/> Une actualité à suivre sans plus tarder !</p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
