{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Installations innovantes, spectacles, nouveaux arrivants…
                        <br/> Chaque année, Beauval est le théâtre d’étonnantes nouveautés !
                        <br/> Pour le plaisir de la visite, sans cesse renouvelé…</p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
