{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">

                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="single-post">

                <div class="row">

                        <div class="col-sm-6 col-md-6">
                            <div class="post post-{{ post.targetSite }}" id="post_{{ post.id }}">
                                <header>
                                    <h1 class="post-title">{{ post.post.title }}</h1>
                                </header>
                                <article>

                                </article>
                                <footer>

                                </footer>
                            </div>
                        </div>

                </div>

        </div>
    </div>
{% endblock %}
