

// ########################## vars ##########################\\
$fontSize: 16 !default;
$fontfamily:  Arial, Helvetica, sans-serif !default;
$headerFontFamily: Arial, Helvetica, sans-serif !default;
$fontColor: #555 !default;
$headerFontColor: #555 !default;
$lineHeight: 1.43 !default;


$mainContentMinHeight: 800!default;
$mainFooterMinHeight: 400!default;
$mainFooterBgColor: #303030!default;
$mainFooterColor: #fff!default;
// ########################## end vars ##########################\\

body{
  font-size: toUnit($fontSize);
  font-family: $fontfamily;
  color: $fontColor;
  line-height: $lineHeight;
}

#main-header{
  height: 650px;
  background-color: #000;
}

#main-content{
  min-height: toUnit($mainContentMinHeight);
}

#main-footer{
  min-height: toUnit($mainFooterMinHeight);
  background-color: $mainFooterBgColor;
  color: $mainFooterColor;
}
