

// ########################## vars ##########################\\
$fontSize: 16 !default;
$fontfamily:  Arial, Helvetica, sans-serif !default;
$headerFontFamily: Arial, Helvetica, sans-serif !default;
$fontColor: #555 !default;
$headerFontColor: #555 !default;
$lineHeight: 1.43 !default;

// ########################## end vars ##########################\\

body{
  font-size: toUnit($fontSize);
  font-family: $fontfamily;
  color: $fontColor;
  line-height: $lineHeight;
}
