/*********************** colors ************************\
\*******************************************************/

$grisFonce: #313133;

$gris51: #515151;
$grisBB: #bbbbbb;
$grisDF: #dfdfdf;
$grisDD: #dddddd;
$bleu: #2e85a3;
$ocean: #2e85a3; // zooparc beauval
$jaune: #ffcb00;
$blanc: #fff;
$noir: #000;
$jaunePale: #DDAB33;
$marron: #a15f4b;
$bleuPale: #4f94b3;
$vertPale: #87a13e;
$vert: #54b45b;
$rouge: #c56351;
$rose: #d68aa4; // carnetrose
$beauvalNature: #b19c89;
$sable: #b19c89; // beauval nature
$groupes: #f39325;
$abricot: #f39325; //groupes
$ce: #cf3d5a;
$framboise: #cf3d5a; //ce
$groupesEnfants: #48a271;
$menthe: #48a271; //groupes enfants
$pro: #a866a0;
$lilas: #a866a0; //pro
$kiwi: #95c11e; //jdb
$azur: #479094; //hdb
$fraise: #c03427; //pdb
$argentDePoche: #c73e39;
$parrain: #685c8d;
$protecteur: #b0af2b;
$vertParrainage: #77a449;

$facebook: #3B5999;
$twitter: #4099FF;
$instagram: #AB7E5F;

$taupe: #ada28a;
