#main-header{
  position: relative;
  height: 650px;
  background-color: #000;
  padding: $mainHeaderPadding;
}



@media only screen and (min-width: 768px) {
  #main-header{
    height: 750px;

  }
}
