#main-header{
  position: relative;
  height: 750px;
  background-color: #000;
  padding: $mainHeaderPadding;
  overflow: hidden;

}



@media only screen and (min-width: 768px) {
  #main-header{


  }
}
