{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p style="margin-bottom: 16px;">Les équipes du ZooParc de Beauval se tiennent à disposition <br/> pour répondre à toutes vos questions.</p>
                    <p>ZooParc de Beauval</p> <!-- address -->
                    <p>41110 Saint Aignan sur Cher</p>
                    <p>Tél : 02 54 75 5000 </p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
