{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="page-intro">
                    <p>Bienvenue dans la Galerie Photo du ZooParc de Beauval.
                        <br/> Fauves, primates, reptiles, poissons, oiseaux…</p>
                </div>
                <div class="text-center">
                    <p>Vous y découvrirez de nombreux visuels d’animaux, ainsi que les images des installations, complexes hôteliers et grandes nouveautés qui font Beauval !</p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}
