<div id="alert-overlay"></div>
<div id="alert-modal" class="alert-modal {{ alert.type|default("warning") }}">
    <div class="alert-modal-header">
        {{ alert.title|default("Attention !") }}
    </div>
    <div class="alert-modal-body">
        {{ alert.body|raw }}
    </div>
    <div class="alert-modal-actions">
        <button class="alert-modal-btn" id="alert-close-btn">fermer</button>
    </div>
</div>
<script src="/js/sites/common/alertManager.min.js"></script>
<script>
    $(function(){
        var alertManager = new AlertManager();
    })
</script>
