
<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            <h4>1. Conditions générales de vente "Grand Public"</h4>
            <h5>1.1 Généralités</h5>
            <p>
                Ces conditions générales de vente s'appliquent à toutes les opérations de vente conclues par le ZooParc
                de Beauval. Selon le type de produit vendu,
                des conditions particulières s'appliquent.
            </p>
            <p>
                Le ZooParc de Beauval vend :
            </p>
            <ul>
                <li>
                    - De la billetterie pour l’accès au ZooParc
                </li>
                <li>
                    - De la restauration
                </li>
                <li>
                    - Des produits dérivés
                </li>
                <li>
                    - Des forfaits, au sens de l'article 2, loi du 13 juillet 1992
                </li>
            </ul>
            <p>
                Les présentes conditions générales et les conditions particulières applicables selon le produit vendu sont
                parties intégrantes du contrat de vente.
            </p>



            <h5>1.2 Capacité</h5>
            <p>Tout client du ZooParc de Beauval reconnaît avoir la capacité de contracter aux conditions décrites dans, c'est-à-dire avoir la majorité légale et ne pas être sous tutelle ou curatelle. </p>
            <p>Tout client du ZooParc de Beauval reconnaît avoir pris connaissance des présentes conditions de vente avant d'avoir passé sa commande.</p>
            <p>Tout client du ZooParc de Beauval reconnaît avoir pris connaissance, avant d’y pénétrer, du règlement intérieur et des conditions de sécurité inhérentes au ZooParc de Beauval. </p>
            <p>Dès lors, la prise de commande ou l’achat de billetterie entraîne son entière adhésion aux conditions générales et particulières de vente du ZooParc de Beauval et son acceptation sans réserve de l'intégralité de leurs dispositions. </p>

            <h5>1.3 Affichage des prix</h5>

            <p>Tous les prix sont affichés en Euros. La TVA est toujours comprise.</p>

            <p>Tous les tarifs incluent la visite complète du parc, ainsi que les spectacles de rapaces en vol libre et d’otaries de fin mars à mi-novembre (sous réserve de modifications).</p>

            <p>Nos tarifs individuels sont susceptibles de subir une légère modification en cours de saison. Les tarifs groupes et de billetterie C.E. et assimilés sont fermes et définitifs.</p>



            <h5>1.4 Modes de paiement</h5>

            <p>Le ZooParc de Beauval accepte les cartes des réseaux Carte Bleue, Visa, Eurocard / Mastercard, les
                chèques bancaires ou postaux, les virements ou mandats administratifs.</p>

            <p>Les espèces ne sont acceptées que pour les paiements effectués sur place.</p>

            <p>Les règlements devront être effectués en &euro; (Euro) à l’ordre du ZooParc de Beauval.</p>


            <h5>1.5 Force majeure</h5>

            <p>On entend par force majeure tout événement extéri
                eur aux parties présentant un caractère à la fois
                imprévisible et insurmontable qui empêche soit le client, soit les voyageurs, soit l'agence ou les
                prestataires de services impliqués dans la réalisation du voyage, d'exécuter tout ou partie des
                obligations prévues par le contrat.</p>

            <p>De convention expresse, il en sera notamment ainsi en matière de conditions climatiques
                exceptionnelles (affectant la circulation et/ou la sécurité des usagers du ZooParc de Beauval), grève des
                moyens de transport, du personnel du ZooParc
                de Beauval, insurrection, émeute et prohibition
                quelconque édictée par les Autorités gouvernementales
                ou publiques. Il est expressément convenu que
                la force majeure suspend, pour les parties,
                l'exécution de leurs obligations réciproques.</p>

            <p>Parallèlement, chacune des parties supporte la char
                ge de tous les frais qui lui incombent et qui
                résultent du cas de force majeure : en conséquence, les voyageurs supporteront seuls les frais
                supplémentaires qui pourraient être engagés pour permettre la poursuite du voyage à la suite de la
                survenance d'un cas de force majeure.</p>

            <h5>1.6 Responsabilité du ZooParc de Beauval</h5>

            <p>La responsabilité du ZooParc de Beauval n’est pas engagée en cas de perte, de vol ou de détérioration
                des biens déposés dans les locaux mis à la disposition du client. Celui-ci s’engage à respecter les
                consignes de sécurité indiquées par le personnel du ZooParc ou affichées dans l’enceinte du ZooParc. </p>

            <h5>1.7 Informatique et Libertés</h5>

            <p>En application de la Loi 78-17 dite Informatique et
                Libertés, les clients sont avertis que leur commande
                fait l'objet d'un traitement nominatif informatisé. Le droit d'accès et de rectification garanti par la loi
                s'exerce auprès du ZooParc de Beauval en son Siège. </p>

            <h5>1.8 Réclamations</h5>

            <p>Les réclamations qui surviennent pendant l’exécution du contrat conclu avec la SAS ZooParc de Beauval
                doivent être introduites au plus vite sur place, de manière appropriée et pouvant servir de preuve afin
                qu’une solution puisse être recherchée aussitôt. Les réclamations qu’il est impossible d’introduire sur
                place ou qui n’ont pas été résolues doivent être adressées à la SAS ZooParc de Beauval par lettre
                recommandée dans les 30 jours suivant la date de la visite faisant l'objet de la réclamation.</p>

            <h4>2. CONDITIONS PARTICULIERES</h4>










        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>
