{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "shows" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-intro">
                <p>Ponctuant joyeusement la visite de Beauval, les spectacles se déroulent de mars à novembre.</p>
                <p>Deux amphithéâtres accueillent "Les Maîtres des Airs", un étonnant spectacle d’oiseaux,
                    <br/> et "L’Odyssée des lions de mer", présentée par d’agiles otaries !</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="page-intro">
                <p>Tout au long de la journée, des animateurs donnent rendez-vous aux visiteurs aux quatre coins du ZooParc,
                    <br/> pour leur conter la vie et les mœurs des espèces hébergées à Beauval,
                    <br/> bien souvent au cours d'un nourrissage.</p>
            </div>
        </div>
    </div>



{% endblock %}
