{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "shows" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="sub-page-header">
                <h3>Deux spectacles enivrants</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="page-intro">
                <p>Ponctuant joyeusement la visite de Beauval, les spectacles se déroulent de mars à novembre.
                    <br/>Deux amphithéâtres accueillent "Les Maîtres des Airs", un étonnant spectacle d’oiseaux,
                    <br/> et "L’Odyssée des lions de mer", présentée par d’agiles otaries !</p>
            </div>
        </div>
    </div>

    <div class="spacer-40"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="/dev/assets/img/Image-copie.jpg" alt="" style="width: 100%; display: block;"/>
            </div>
            <div class="col-md-4">
                <p><strong>En 2015, "Les Maîtres des Airs" prennent à nouveau leur envol !</strong> Au cœur d’un vaste théâtre de verdure, 200 oiseaux évoluent au-dessus des têtes des spectateurs, rassemblés dans un hémicycle de 3 000 places.</p>
                <p>Chouettes, grues, pélicans, cigognes, ibis et marabouts se joignent au ballet aérien des rapaces pour présenter un spectacle inoubliable au final éblouissant ! Un moment de grande envergure à Beauval...</p>
            </div>
        </div>
    </div>

    <div class="spacer-100"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Dans le cadre magique de l’amphithéâtre aquatique, intégralement rénové et agrémenté d’un toboggan-plongeoir, des otaries agiles et joueuses rivalisent d’adresse et d’équilibre au cours du <strong>spectacle "L’Odyssée des lions de mer", composé de numéros inédits !</strong></p>
                <p> Sur terre, dans les airs, sous l’eau… Un véritable festival de performances, ponctué de musiques entraînantes !</p>
            </div>
            <div class="col-md-8">
                <img src="/dev/assets/img/Image-copie.jpg" alt="" style="width: 100%; display: block;"/>
            </div>
        </div>
    </div>

    <div class="spacer-100"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="background-color: #ddd; height: 400px;"> calendrier </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="spacer-70"></div>

    <div class="container">
        <div class="row">
            <div class="sub-page-header">
                <h3>De multiples animations</h3>
            </div>
        </div>
    </div>

    <div class="spacer-70"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="/dev/assets/img/Image-copie.jpg" alt="" style="width: 100%; display: block;"/>
            </div>
            <div class="col-md-4">
                <p>Tout au long de la journée, des animateurs donnent rendez-vous aux visiteurs aux quatre coins du ZooParc,
                    pour leur conter la vie et les mœurs des espèces hébergées à Beauval,
                    bien souvent au cours d'un nourrissage.</p>
            </div>
        </div>
    </div>

    <div class="spacer-100"></div>






{% endblock %}
