{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "map" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
            <div class="page-intro">
                <p>Le ZooParc de Beauval se situe dans le département du Loir-et-Cher (41), au sud de la ville de Blois, à mi-chemin entre Tours et Vierzon.</p>
            </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="spacer-40"></div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-10 col-md-10">
            <img src="/dev/assets/img/plan_zoo_1200_2015.jpg" alt="" style="width: 100%; display: block;"/>
            </div>
            <div class="col-sm-1 col-md-1"></div>
        </div>
    </div>

    <div class="spacer-40"></div>


{% endblock %}
