{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "map" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <div class="page-intro">
                <p>Serres tropicales, vastes plaines verdoyantes, îles aménagées, volières, bassins à vision sous-marine…
                    <br/> Les 5700 animaux de Beauval évoluent au cœur de 30 hectares de parc arboré.
                    <br/> Une à deux journées de visite permet aux visiteurs d’en parcourir les allées…</p>
            </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}
