{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "map" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
            <div class="page-intro">
                <p>Le ZooParc de Beauval se situe dans le département du Loir-et-Cher (41), au sud de la ville de Blois, à mi-chemin entre Tours et Vierzon.</p>
            </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>





{% endblock %}
