{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "restos" %}

{% block content %}
    <div class="container">
        <div class="row">


        </div>
    </div>
{% endblock %}
