{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "restos" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
            <div class="page-intro">
                <p>Restauration rapide ou self-service, sandwichs ou plats chauds :
                    <br/> neuf points de restauration sont répartis à travers le ZooParc (service le midi uniquement).</p>

                <p>Tous ne sont pas quotidiennement ouverts. Sur place, consultez le panneau d’affichage à votre arrivée ou notre site mobile. Alors, sur place ou à emporter ?
                </p>
            </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="spacer-20"></div>
    <div class="container">
        {% for restos in restoRows %}
        <div class="row">
            {%  for resto in restos %}
            <div class="col-sm-4 col-md-4">
                <div class="resto-card">
                    <div class="resto-card-ribbon-wrapper">
                        {% if resto.isOpen == true %}
                            <div class="resto-card-ribbon resto-card-ribbon-green">
                                ouvert
                            </div>
                        {% else %}
                            <div class="resto-card-ribbon resto-card-ribbon-red">
                                fermé
                            </div>
                        {% endif %}
                    </div>
                    <img src="{{ resto.image }}" alt="" class="resto-card-img"/>
                    <h4 class="resto-card-name {% if resto.isOpen == false %}resto-card-is-closed{% endif %}">{{ resto.name }}</h4>
                    <p class="resto-card-description">{{ resto.description|raw }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
