{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "restos" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
            <div class="page-intro">
                <p>Restauration rapide ou self-service, sandwichs ou plats chauds :
                    <br/> neuf points de restauration sont répartis à travers le ZooParc.</p>
            </div>
            <div class="text-center">
                <p>Tous ne sont pas quotidiennement ouverts ; consulter le panneau d’affichage à l’entrée du Zoo ou notre site mobile.
                    <br/> Alors, sur place ou à emporter ?
                </p>
            </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
    {{ dump(restos) }}

    <div class="container">
        <div class="row">
            <div class="col-sm-4col-md-4"></div>
            <div class="col-sm-4col-md-4"></div>
            <div class="col-sm-4col-md-4"></div>
        </div>
    </div>
{% endblock %}
