{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% set active_page = "services" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="page-intro">
                    <p>Location de poussettes, consignes, aires de pique-nique ou de stationnement :
                    <br/> de nombreux services sont à la disposition des visiteurs du ZooParc de Beauval.</p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}
