<div id="tickets" class="tickets has-3">
    <div class="ticket ticket-left">
        <a href="#"><div class="ticket-inner green">
                Achetez<br> vos billets
        </div></a>
    </div>
    <div class="ticket ticket-center">
        <a href="http://leshotelsdebeauval.com" target="_blank"><div class="ticket-inner blue">
                Dormez<br>à Beauval
        </div></a>
    </div>
    <div class="ticket ticket-right">
        <a href="{{ path("zpb_sites_zoo_utils_access") }}"><div class="ticket-inner yellow">
                Venez<br/>à Beauval
        </div></a>
    </div>
</div>
