{% set active_site = (active_site is defined) ? active_site : null %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if block('title') %}{{ block('title') }} {% else %}Bienvenue {% endif %}| ZooParc de Beauval</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block metas_fb %}{% endblock %}

    {% block headLinks %}
        <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
    {% endblock %}

    {% block headStyles %}{% endblock %}

    {% block headScripts %}{% endblock %}
</head>
<body>

    {% block body %}
        {% block main_top_bar %}
            {{ render(controller('ZPBSitesCommonBundle:Navs:topBar', {active_site: active_site})) }}
        {% endblock %}
        {% block mainHeader%}

        {% endblock %}

        {% block mainContent %}

            {% block content %}

            {% endblock %}

        {% endblock %}

    {% endblock %}


    {% block Mainfooter%}

    {% endblock %}

    {% block footScripts %}{% endblock %}
</body>
</html>
